<odoo>
    <menuitem id="car_management_menu" name="Vroom Vroom - Car Rental" />

    <menuitem
        id="people_inherit_partner_menu"
        name="Peoples"
        parent="car_management_menu"
        action="account.res_partner_action_customer"
    />

   <menuitem
        id="people_inherit_product_product_menu"
        name="Car Model"
        parent="car_management_menu"
        action="car_model_inherit_product_product_action_id"
    />

    <menuitem
        id="car_owners_partner_menu"
        name="Car Owners"
        parent="car_management_menu"
        action="car_owner_action_id"
    />    

    <menuitem
        id="borrower_menu"
        name="Borrowers"
        parent="car_management_menu"
        action="borrower_action_id"
    />

    <menuitem
        id="settings_menu"
        name="Settings"
        parent="car_management_menu"
    /> 

    <menuitem
        id="my_setting_menu"
        name="My Settings"
        parent="settings_menu"
        action="settings_action_id"
    /> 

</odoo>